========================================================================
Copyright (c) ${copyright_range} ${copyright_name}
------------------------------------------------------------------------
All rights reserved.

========================================================================
