<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="CONSOLE" />
  </root>

  <!-- App Logs -->
  <logger name="{{cookiecutter.package_name}}">
    <level value="DEBUG" />
  </logger>

  <!-- Third Parties Logs -->
</configuration>
