package {{cookiecutter.package_name}};

import static org.testng.Assert.assertTrue;

import org.testng.annotations.Test;

/** Unit test for simple App. */
public class AppTest {

  public AppTest() {}

  /** Rigourous Test :-) */
  @Test
  public void testApp() {
    assertTrue(true);
  }
}
